.nearbyParties-Screen{
    margin: 10px;
    height: 96vh;
}

.nearbyParties{
    height: 80%;
    overflow-y: scroll;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    bottom: 0;
    position: absolute;
    width: 94%;
}

.x{
   font-weight: 200;
}

.partyPreview{
    border-width: 1px;
    border-radius: 6px;
    border-color: white;
    border-style: groove;
    margin: 3% 3%;
    display: flex;
    flex-direction: column;
    padding: 8% 4%;
    background-color: rgba(0, 119, 133, 0.91);
}


.header{
    position: fixed;
    top: 0;
    height: 20%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.animation-NearbyParties{
    background-image: url("../assets/animations/nearbyParties.gif");
    background-position: center;
    width: 95%;
    height: 95vh;
    position: center;
    top: 0
}

